<h1>Listing visits</h1>

<table>
  <thead>
    <tr>
      <th>Nirror hash path</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.nirror_hash_path %></td>
        <td><%= link_to 'Show', proposition_visit_path(@proposition, visit) %></td>
        <td><%= link_to 'Edit', edit_proposition_visit_path(@proposition, visit) %></td>
        <td><%= link_to 'Destroy', [@proposition, visit], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_proposition_visit_path(@proposition) %>
